<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>May and Hélder</h2>
	<p>May Marie, a native from Dapitan City (Philippines) of the Visayan tribe, and Hélder Monteiro, a native from Maputo city (Mozambique),
	met online in 2018. They both were looking to give the next step in their lives and thus found in each other their missing souls.
	  Hélder visited May in December 2018 in the Philippines and after getting to know each better, they got engagged! May finds Hélder, a fun,
		hard working, yet smart young man and an ideal partner, while Hélder finds May, a smart, energetic, down-to-earth and humble person,
		who makes his ideal partner.
</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>May is learning Portuguese and Swedish; Hélder is learning Visayan; so marriage is the logical next step. 
	May and Hélder are eager to start the next chapter of their lives together.</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

