<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>March 28, 2019</p>
	
	<p>Royal Farm Resort<br>
	Dipolog City<br>
	7100 Zamboanga del Norte, Philippines</p>
	
	<p>
	3:30 PM - Venue Opens<br>
	4:00 PM - Ceremony<br>
	5:00 PM - Cocktail Hour<br>
	6:00 PM - 10:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=Nml2aDlibmEyaDNlNm8yOTQ3cXY4ZWcwN2kgbGFsYW5nYW5waEBt&tmsrc=lalanganph%40gmail.com">Add this event to Google Calendar</a>
	</p>
	
  </header>
</div>
