<div class="inner">
  <header class="major">
    <h2>Join Us</h2>

	<form method="POST" action="https://formspree.io/helder@outlook.ie">
	  <input type="text" name="name" required placeholder="Your name" style="background: #d5f0fb"/>
          <input type="text" name="mobile" maxlength="16" required placeholder="Your mobile number" style="background: #d5f0fb; margin-top: 10px"/>
	  <input type="email" name="email" placeholder="Your e-mail (Optional)" style="background: #d5f0fb; margin-top: 10px"/>
	  <input type="text" name="number" required placeholder="Number of People (put 0 if not attending)" style="background: #d5f0fb; margin-top: 10px"/>
	  <br>
	  <button type="submit" style="background: #d5f0fb">RSVP</button>
	</form>

  </header>
</div>
